.gradient-grey {
    background: $color-gradient-dark;
    background: linear-gradient(90deg, $color-gradient-dark 0%, $color-gradient-light 100%);
}

// SHOWCASE

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img-left {
        margin-left: -120px;
    }

    .img-right {
        margin-right: -120px;
    }

    .showcase-body {
        text-align: center;
        

        h1 {
            font-size: $font-size-65;
            font-weight: $font-weight-extra-bold;
        }

        p {
            margin-top: 50px;
            margin-bottom: 35px;
            font-size: $font-size-20;
        }
    }
}

header {
    margin-bottom: 135px;
}


// FEATURED PRODUCTS
.featured-prodocts {
    h1 {
        font-size: $font-size-20;
        font-weight: $font-weight-bold;
        text-align: center;
        margin-bottom: 30px; 
    }

    .container {
        max-width: 1110px;
    }
}

// BANNERS
.banners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 65px;

    h1 {
        font-size: $font-size-45;
        font-weight: $font-weight-bold;
        margin-bottom: 35px;
    }

    .banner-1 {
        position: relative;
        margin-right: 15px;

        .btn-theme {
            background-color: $color-black;
            color: $color-white;

            &:hover {
                background-color: $color-white;
                color: $color-black;

                .btn-theme-left {
                    border-left: 2px solid $color-black;
                    border-top: 2px solid $color-black;
                }
                .btn-theme-right {
                    border-right: 2px solid $color-black;
                    border-bottom: 2px solid $color-black;
                }
            }
        }
        .title-1 {
            position: absolute;
            top: 100px;
            left: 450px;
        }
    }

    .banner-2 {
        position: relative;
        margin-left: 15px;

        .btn-theme {
            background-color: $color-white;
            color: $color-black;

            &:hover {
                background-color: $color-black;
                color: $color-white;

                .btn-theme-left {
                    border-left: 2px solid $color-white;
                    border-top: 2px solid $color-white;
                }
                .btn-theme-right {
                    border-right: 2px solid $color-white;
                    border-bottom: 2px solid $color-white;
                }
            }

            .btn-theme-left {
                border-left: 2px solid $color-black;
                border-top: 2px solid $color-black;
            }
            .btn-theme-right {
                border-right: 2px solid $color-black;
                border-bottom: 2px solid $color-black;
            }
        }
        .title-2 {
            position: absolute;
            top: 100px;
            left: 65px;
        }
    }

}

// PRODUCT DISPLAY 1
.product-display-1,
.product-display-2 {
    display: flex;
    width: 100%;
    margin-bottom: 60px;

    h1 {
        color: $color-white;
        font-size: $font-size-45;
        font-weight: $font-weight-bold;
    }

    .flash-box {
        background-color: $color-light-grey;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 30px;

        .btn-theme {
            background-color: $color-white;
            color: $color-black;

            .btn-theme-left {
                border-left: 2px solid $color-black;
                border-top: 2px solid $color-black;
            }
            .btn-theme-right {
                border-right: 2px solid $color-black;
                border-bottom: 2px solid $color-black;
            }

            &:hover {
                background-color: $color-black;
                color: $color-white;

                .btn-theme-left {
                    border-left: 2px solid $color-white;
                    border-top: 2px solid $color-white;
                }
                .btn-theme-right {
                    border-right: 2px solid $color-white;
                    border-bottom: 2px solid $color-white;
                }
            }
        }
    }

    .display-boxes {
        display: inline-flex;

        span {
            margin-right: 30px;
        }
        
        .card-body {
            text-align: left;
        }
    }
}

.product-display-2 {
    justify-content: end;
}

// SHOP INFO

hr {
    border: 2px solid $color-dark-grey;

}
.shop-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;

    .shop-info-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        
    h1 {
        font-size: $font-size-20;
        font-weight: $font-weight-bold;
    }
    p {
        text-align: center;
    }

    a {
        background-color: $color-white;
        color: $color-black;
        width: 36px;
        height: 36px;
        margin-bottom: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 5px $color-shadow;
    }

    }

}

// FOOTER
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-gradient-light;
    padding: 30px 0;
    margin-top: 30px;


    i {
        margin: 10px;
        font-size: $font-size-20;
    }
}




