// Fonts
@import url(https://fonts.google.com/share?selection.family=Poppins:wght@500;700;800);
$font-poppins: 'Poppins', sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-size-11: 0.688rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-35: 2.188rem;


// Colour varibles
$color-theme: #FF7373;
$color-white: #FFFFFF;
$color-light-grey: #F5F5F5;
$color-grey: #BEBEBE;
$color-dark-grey: #616365;
$color-black: #23262A;
 