// Font variables
$font-poppins: 'Poppins', sans-serif;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-size-11: 11px;
$font-size-13: 13px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-35: 35px;
$font-size-45: 45px;
$font-size-65: 65px;

// Colour variables
$color-theme: #FF7373;
$color-white: #FFFFFF;
$color-gradient-dark: #E6E6E6;
$color-gradient-light: #F5F5F5;
$color-black: #222529;
$color-dark-grey: #616365;
$color-light-grey:#BBBBBB;
$color-shadow: rgba(34, 37, 41, 0.06);

// Media max width
$max-width: 1600px;